/animals
/animal_classifier_model.h5
/cat.jpg
/Love.jpg
/myenv
/name of the animals.txt
/result2_better.jpg
/result3_better.jpg
/result4_better.jpg
/result5_better.jpg
/result6_better.jpg
/result7_better.jpg
/result_корова.jpg
/test.py
/venv
/yolov11x-cls.pt
/yolov8l.pt
/корова.jpg
/овца.jpg
/свинья.jpg